# Code Editor File
.vs
.vscode

# Git/Github
.git
.github

# Nitro dev/build outputs
.cache
.data
.nitro
.output
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Test
coverage

# Misc
.DS_Store
.fleet
.idea

# Env files
.env*

# Prisma files
prisma/*.db
prisma/*.db-*
prisma/generated

# Dockerfile
.dockerignore
Dockerfile